body {
    margin-top: 40px;
    margin-bottom: 40px;
}

.navigation-container {
    padding-left: 0;
    padding-right: 0;
}

.content-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main-content-area {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA79;
}

.todo-details {
    color: #AAA;
}

.todo-item {

}